<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services page</title>
</head>
<body>
    {% include "navigations.html" %}
    <h1>Services provided by us</h1>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
        <li>Illo, hic eos. Autem, aperiam obcaecati?</li>
        <li>Id repellat facilis officia veritatis pariatur.</li>
        <li>Culpa minima quam repellendus voluptate fugit.</li>
        <li>Similique, dolores nisi. Nobis, excepturi laudantium.</li>
    </ul>
</body>
</html>